{% extends 'padre.html'%}

{% load static %}

{% block contenidoQueCambia %}
<center><img src="/static/assets/img/article.svg" 
    width="100" 
    height="100" /></center>
    <form action="{% url 'ArticuloFormulario' %}" method="POST">{% csrf_token %}

        <P>Producto: <input type="text" name="articulo"></p>

        <P>Codigo: <input type="number" name="codigo"></p>
        
        <P>Cantidad: <input type="number" name= "cantidad"></p>

        <button type="submit"> Enviar </button>

    </form>



{% endblock contenidoQueCambia %}