<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="mi-button">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>

        <a class="navbar-brand" href="{% url 'ArticuloFormulario' %}">ArticuloFormulario</a>
        <a class="navbar-brand" href="{% url 'ClienteFormulario' %}">ClienteFormulario</a>
        <a class="navbar-brand" href="{% url 'login' %}">login</a>
        <a class="navbar-brand" href="{% url 'OperacionesFormulario' %}">OperacionesFormulario</a>
        <a class="navbar-brand" href="{% url 'ArticuloLista' %}">ArticuloLista</a>
        <a class="navbar-brand" href="{% url 'ClienteLista' %}">ClienteLista</a>
        <a class="navbar-brand" href="{% url 'OperacionesLista' %}">OperacionesLista</a>
        <a class="navbar-brand" href="{% url 'BuscarArticulo' %}">BuscarArticulo</a>


        <ul> class="nav navbar-nav navbar-right"
            <li><a href="">Registrarte</a></li>
            <li><a href="">Loguearte</a></li>
        </ul>
    </div>
</nav>