{% extends 'padre.html'%}

{% load static %}

{% block contenidoQueCambia %}
<center><img src="/static/assets/img/article.svg" 
    width="100" 
    height="100" /></center>
    <form action="{% url 'OperacionesFormulario' %}" method="POST">{% csrf_token %}

        <P>Banco: <input type="text" name="banco"></p>

        <P>Sucursal: <input type="text" name="sucursal"></p>
        
        <P>Cbu: <input type="number" name= "cbu"></p>

        <button type="submit"> Enviar </button>

    </form>



{% endblock contenidoQueCambia %}