{% extends 'padre.html'%}

{% load static %}

<center><img src="/static/assets/img/search.png" 
    width="100" 
    height="100" /></center>

{% block contenidoQueCambia %}

<p>Estamos buscando el articulo con código:{{codigo}}</p>

    {% if articulos %}

        <ul>
            {% for articulo in articulos %}

                <li>Código:{{articulo.codigo}}, Descripcion:{{articulo.descripcion}}, Cantidad:{{articulo.cantidad}}</li>

            {% endfor %}
        </ul>
    
    {% endif %}

{% endblock contenidoQueCambia %}